/* Inserta tu código aqui */
/* *{
	outline:1px solid rgba(255,0,0,0.3);
}*/
h1{
	display:inline-block:;
	color:black;
}

form{
	display:inline-block;
}
.navbar-header{
	display:block;
}
.menu{
	display:block;
}
.navbar-brand{
	font-size: 20px;
}
.header{
	color:black;
}

.art-type{
	font-weight: bold;
	border-right:1px solid black;
	margin-right: 3px;
	color:black;
}
.tit-sec1{
	display:inline-block;
	background-color: gray;
	color:white;
}

.tit-sec2{
	display:inline-block;
	background-color: black;
	color:white;
	padding:0 5px;
	margin:0 3px 0 0;
}

.article .text{
	color:gray;
}
.article{
	margin:25px 0;
	border-bottom: 1px solid gray;
}

 a{
	color:black;

}
.article .art-head{
	color:gray;
}
.etiquetas ul{
	display:inline;
}
h4{
	font-weight: bolder;
}
.art-img{
	width:100%;
	line-height:180px;
	background-color: #e9e9e4;
	margin:5px 0;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

.d-video{
	background-color: #b9b9b4;
	padding:0 8px 8px 8px;
}

.art-video{
	width:100%;
	line-height:180px;
	background-color: white;
		border:1px solid black;
	margin:5px 0;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}
.art-video .tit-sec1{
	margin-top:0 !important;
}
.fecha{
	background-color: #b4b4b4;
	width:100%;
	line-height: 200%;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
}
